<!DOCTYPE html>
<html ng-app="ViewUnderReport">
<head>
    <title>Debug-查看下级表</title>
    <meta content="webkit" name="renderer"/>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <!--------------------------CSS-------------------------->
    <!--Public-->
    <link rel="stylesheet" href="../../CSS/Public/Report.css"/>
    <link rel="stylesheet" href="../../CSS/Public/Tabs.css"/>
    <link rel="stylesheet" href="../../CSS/Public/ToolBar.css"/>
    <link rel="stylesheet" href="../../CSS/Plugins/Easydialog.css"/>
    <link rel="stylesheet" href="../../CSS/Plugins/Uploadify/uploadify.css"/>
    <link rel="stylesheet" href="../../CSS/Pages/Index/ViewUnderReport.css"/>
    <!--------------------------JavaScript----------------------->
    <!--Base Library-->
    <script src="../../Scripts/Library/jquery-1.11.0.min.js" type="text/javascript"></script>
    <script src="../../Scripts/Library/Plugins/jquery.cookie.js" type="text/javascript"></script>
    <script src="../../Scripts/Library/Angular/angular.min.js" type="text/javascript"></script>
    <script src="../../Scripts/Library/Plugins/easydialog.min.js" type="text/javascript"></script>
    <script src="../../Scripts/Library/Plugins/jquery.uploadify.min.js" type="text/javascript"></script>
    <script src="../../Scripts/Library/Extend/Array.js" type="text/javascript"></script>
    <script src="../../Scripts/Library/Extend/String.js" type="text/javascript"></script>
    <!--ReportView App-->
    <script type="text/javascript">
        window.basedata = {
            Report: @Html.Raw(ViewData["Report"].ToString()),
            Unders: @Html.Raw(@ViewData["Unders"].ToString()),
            Field: @Html.Raw(ViewData["Field"].ToString()),
            Reservoir: @Html.Raw(ViewData["Reservoir"].ToString()),
            RiverUnits: @Html.Raw(ViewData["RiverUnits"].ToString())
        };
    </script>
    <script src="../../Scripts/Application/ViewReport.js" type="text/javascript"></script>
    <script src="../../Scripts/Configuration/Field.js" type="text/javascript"></script>
    <script src="../../Scripts/Directives/PublicDirective.js" type="text/javascript"></script>
    <script src="../../Scripts/Others/Tools.js" type="text/javascript"></script>
</head>
    <body ng-controller="MainCtrl">
        <div class="ToolBar">
            <ul>
                <li class="Save" ng-show="BaseData.isRiverRpt && Report[Attr.NameSpace].Current.ReportTitle.State !=3" ng-click="Fn.Save()"><i></i>保存</li>
                <li class="Delete" ng-show="BaseData.isRiverRpt && Report[Attr.NameSpace].Current.ReportTitle.State !=3" ng-click="Fn.Delete.Report()"><i></i>删除</li>
                <li class="Send" ng-show="BaseData.isRiverRpt && Report[Attr.NameSpace].Current.ReportTitle.State !=3" ng-click="Fn.Send()"><i></i>报送</li>
                <li class="Export">
                    <a ng-if="BaseData.isRiverRpt" href="{{'/ReportOperate/ExportExcel?pageno=' + Report[Attr.NameSpace].Current.ReportTitle.PageNO + '&rpttype=' + 
                            Report[Attr.NameSpace].Current.ReportTitle.ORD_Code + '&limit=' + BaseData.Unit.Local.Limit + '&unitcode=' + 
                            Report[Attr.NameSpace].Current.ReportTitle.UnitCode + '&sTime=' + Report[Attr.NameSpace].Current.ReportTitle.StartDateTime + 
                            '&ord_name=' + Report.Current.Attr.RiverName + '&eTime=' + Report[Attr.NameSpace].Current.ReportTitle.EndDateTime}}">
                        <i></i>导出
                    </a>
                    <a ng-if="!BaseData.isRiverRpt" href="{{'/ReportOperate/ExportExcel?pageno=' + Report[Attr.NameSpace].Current.ReportTitle.PageNO + '&rpttype=' + 
                            Report[Attr.NameSpace].Current.ReportTitle.ORD_Code + '&limit=' + BaseData.Unit.Local.Limit + '&unitcode=' + 
                            Report[Attr.NameSpace].Current.ReportTitle.UnitCode + '&sTime=' + Report[Attr.NameSpace].Current.ReportTitle.StartDateTime + 
                            '&eTime=' + Report[Attr.NameSpace].Current.ReportTitle.EndDateTime + '&unitname=' + Report[Attr.NameSpace].Current.ReportTitle.UnitName}}">
                        <i></i>导出
                    </a>
                </li>
            </ul>
        </div>
        <div class="Report" ng-if="!BaseData.isRiverRpt" ng-include="'GetTemmplate?type=rpt&url=' + Report[Attr.NameSpace].Current.ReportTitle.ORD_Code.slice(0,2) + '.View'">
        </div>
        <div ng-if="BaseData.isRiverRpt" class="Report" ng-include="'GetTemmplate?type=rpt&url=' + Report[Attr.NameSpace].Current.ReportTitle.ORD_Code.slice(0,2) + '.Edit'">
        </div>
        <div class="Report-Footer">
            <div class="Tabs">
                <ul>
                    <li class="ReportTitle" ng-class="{Selected: Report[Attr.NameSpace].Current.Attr.ReportFooter == 'ReportTitle'}" ng-click="Report[Attr.NameSpace].Current.Attr.ReportFooter = 'ReportTitle'">
                        <span><i></i>表头尾信息</span>
                    </li>
                    <li class="Affix" ng-class="{Selected: Report[Attr.NameSpace].Current.Attr.ReportFooter == 'Affix'}" ng-click="Report[Attr.NameSpace].Current.Attr.ReportFooter = 'Affix'">
                        <span><i></i>附件</span>
                    </li>
                </ul>
            </div>
            <div class="Boxes">
                <div class="ReportTitle" ng-show="Report[Attr.NameSpace].Current.Attr.ReportFooter == 'ReportTitle'">
                    <table>
                        <tbody>
                            <tr>
                                <td>时段类型：{{Fn.CN_Name("StatisticalCycType",Report[Attr.NameSpace].Current.ReportTitle.StatisticalCycType)}}</td>
                                <td>&nbsp;&nbsp;填报单位：{{Report[Attr.NameSpace].Current.ReportTitle.UnitName}}</td>
                                <td>填报人：{{Report[Attr.NameSpace].Current.ReportTitle.WriterName}}</td>
                            </tr>
                            <tr>
                                <td>起止日期：{{Report[Attr.NameSpace].Current.ReportTitle.StartDateTime}}&nbsp;至&nbsp;{{Report[Attr.NameSpace].Current.ReportTitle.EndDateTime}}</td>
                                <td>单位负责人：{{Report[Attr.NameSpace].Current.ReportTitle.UnitPrincipal}}</td>
                                <td><!--校核人：--></td>
                            </tr>
                            <tr>
                                <td>填报日期：{{Report[Attr.NameSpace].Current.ReportTitle.WriterTime}}</td>
                                <td>统计负责人：{{Report[Attr.NameSpace].Current.ReportTitle.StatisticsPrincipal}}</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="Affix" ng-show="Report[Attr.NameSpace].Current.Attr.ReportFooter == 'Affix'">
                    <ul>
                        <li ng-repeat="affix in Report[Attr.NameSpace].Current.Affix">
                            <img ng-show="BaseData.isRiverRpt" src="../CSS/Img/Public/Close.png" title="删除" ng-click="Fn.Delete.Affix($index,affix.tbno,affix.url)"/>
                            <a href="{{'/AffixOperater/DownFiles?name=' + affix.name + '&url=' + affix.url}}">
                                {{affix.name}}
                            </a>
                        </li>
                    </ul>
                    <div ng-if="BaseData.isRiverRpt">
                        <input type="file" id="file_upload" name="file_upload" ng-fileupload/>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
